<div class="col-sm-3 sidenav no-padding">
	<div class="left">
		<div class="top form-group">
			<select class="form-control" id="select-type-chat">
				<option data-target="#all-chat" value="all-chat">Toàn bộ trò chuyện</option>
				<option data-target="#user-chat" value="user-chat">Trò chuyện cá nhân</option>
				<option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
			</select>
			<a href="#groupChatModal" class="create-group-chat" data-toggle="modal"
				title="Tạo một nhóm trò chuyện mới"></a>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="all-chat">
				<ul class="people no-padding-start">
					<% allConversations.map(conversation =>{ %>
					<% if(conversation.members){%>
					<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
						<li class="person group-chat" data-chat="<%= conversation._id %>">
							<div class="left-avatar">
								<!-- <div class="dot"></div> -->
								<img src="images/users/group-avatar-trungquandev.png" alt="">
							</div>
							<div class="info-name">
								<span class="name">
									<span class="group-chat-name">
										<%if(conversation.name.length >15){%>
										<%= conversation.name.substr(0,11)%> <span>...</span>
										<%} else{%>
										<%= conversation.name %>
										<%}%>
									</span>
								</span>
								<span class="preview">Chào cả nhóm  </span>

							</div>

							<span class="time">Hai giờ trước </span>
						</li>
					</a>
					<% }else{%>
										<a href="#uid_<%= conversation._id %>" class="room-chat"
											data-target="#to_<%= conversation._id %>">
						<li class="person" data-chat="<%= conversation._id %>">
							<div class="left-avatar">
								<div class="dot"></div>
								<img src="images/users/<%= conversation.avatar %>" alt="">
							</div>
							<div class="info-name">
								<span class="name">
									<%if(conversation.username.length >15){%>
									<%= conversation.username.substr(0,11)%> <span>...</span>
									<%} else{%>
									<%= conversation.username %>
									<%}%>
									</span>
									<span class="preview">Chào cả nhóm  </span>

								</div>

							<span class="time">Một phút trước</span>
						</li>
					</a>
					<% }%>
									<% 	}) %>


				</ul>
				<div class="text-center pt-4">
					<button class="btn btn-success" id="load_more_all_chat">Xem thêm</button>

				</div>
				<div class="text-center  ">
					<div class=" lds-ripple">
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="tab-pane  " id="user-chat">
				<ul class="people no-padding-start">
					<% usersConversations.map(conversation =>{ %>
					<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
						<li class="person" data-chat="<%= conversation._id %>">
							<div class="left-avatar">
								<div class="dot"></div>
								<img src="images/users/<%= conversation.avatar %>" alt="">
							</div>
							<div class="info-name">
								<span class="name">
									<%if(conversation.username.length >15){%>
									<%= conversation.username.substr(0,11)%> <span>...</span>
									<%} else{%>
									<%= conversation.username %>
									<%}%>
										</span>
										<span class="preview">Chào cả nhóm  </span>

									</div>
							<span class="time">Một phút trước</span>
						</li>
					</a>
					<% 	}) %>

				</ul>
				<div class="text-center pt-4">
					<button class="btn btn-success" id="load_more_user_chat">Xem thêm</button>

				</div>
				<div class="text-center  ">
					<div class=" lds-ripple">
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="tab-pane  " id="group-chat">
				<ul class="people no-padding-start">
					<% groupConversations.map(conversation =>{ %>
					<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
						<li class="person group-chat" data-chat="<%= conversation._id %>">
							<div class="left-avatar">
								<!-- <div class="dot"></div> -->
								<img src="images/users/group-avatar-trungquandev.png" alt="">
							</div>
							<div class="info-name">
								<span class="name">
									<span class="group-chat-name">
										<%if(conversation.name.length >15){%>
										<%= conversation.name.substr(0,11)%> <span>...</span>
										<%} else{%>
										<%= conversation.name %>
										<%}%>
										</span>
									</span>
									<span class="preview">Chào cả nhóm  </span>

								</div>
							<span class="time">Hai giờ trước fake</span>
						</li>
					</a>
					<% 	}) %>
				</ul>
				<div class="text-center pt-4">
					<button class="btn btn-success" id="load_more_group_chat">Xem thêm</button>

				</div>
				<div class="text-center  ">
					<div class=" lds-ripple">
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
